li,ul{list-style: none;}
a{text-decoration: none;}
*{padding: 0;margin: 0;}
body{text-align: center;}
img{border: 0px;}


#main{width: 900px;height: 778px;margin: 0 auto 0;border: 0px solid #ccc;}
#mtd{width: 900px;height: 37px;background-color: #f0f0f0; }
#mtda{width: auto;font-family: Tahoma;font-size: 14px;line-height: 37px;float: left;display: block;color: #444;font-weight: bold;}
#mainb{width: 868px;height: 740px;padding: 0 0 0 30px;border: 1px solid #ccc;}
#mpadding{width: 868px;height: 740px;}
#mbh1{width: 868px;height: 37px;}
#mbha{width: auto;font-family: Tahoma;font-size: 14px;line-height: 37px;float: left;display: block;color: #444;font-weight: bold;}
#userhead{width: 868px;height: 80px;border-bottom: 1px solid #e0e0e0;}
#headimg{float: left;}
.uh1{width: 768px;height: 40px;float: right;}

.inp{width:160px;height: 20px;float: left;margin: 0 0 0 8px; }
.lbl{width: auto;height: 40px;font-size: 12px;font-family: Tahoma;display: block;float: left; line-height: 21px;color: #444;}
.example{width: auto;height: 40px;font-size: 12px;font-family: Tahoma;display: block;float: left; line-height: 21px;color: #444;text-align: left;}
.divc{width: 768px;height: 72px;float: right;border-bottom: 1px solid #e0e0e0;padding: 4px 0 0 0;}